includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait Roberts\\Support\\Traits\\.* is used zero times and is not analysed#'
